.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Sudoku {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: lightgray;
  padding: 50px;
  height: 100vh;
}
.tile {
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 32px;
  outline: none;
  background-color: white;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-left: -1px;
  margin-right: -1px;
  cursor: default;
}
.taken {
  color: #5982D8;
}
.initial {
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 32px;
  outline: none;
  background-color: white;
  margin-left: -1px;
  margin-right: -1px;
}
.board {
  display: grid;
  grid-template-columns: repeat(9, 0fr);
  padding: 20px;
}
.selected {
  background-color: #86C5D8;
}
.tile, .initial, .taken, .selected, div {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}
.interface {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 90%;
}

.interface button {
  width: 10%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.interface button:hover {
  background-color: #45a049;
}
.mistake-counter div {
  color: red;
  font-size: 24px;

}
.tools {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.tool-button {
  background-color: transparent;  /* Make the button's background transparent */
  border: none;  /* Remove the border */
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

.tool-image {
  width: 50px;  /* Adjust as needed */
  height: 50px;  /* Adjust as needed */
}
.tile.same-value {
  background-color: #AFDCEB; /* Or whatever color you want */
}
.same-row-col {
  background-color: #D1FAFF;
}

